<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="weather">
  <div id="weatherInfo">Weather Information</div>
    <button id="getLocationBtn">Get Weather</button></div>
    

    <script>
        document.getElementById('getLocationBtn').addEventListener('click', function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    fetch(`/weather?lat=${latitude}&lon=${longitude}`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('weatherInfo').innerHTML = 
                                `Temperature: ${data.main.temp}°C <br>
                                Weather: ${data.weather[0].main}`;
                        })
                        .catch(error => console.error('Error:', error));
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        });
    </script>
</body>
</html>